.Alllog{
    background-image: url("../../background_planete4.png");
    background-size: 1900px;
    background-color: #030d12;
    background-position: center top -250px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
}

.form{
    font-family: "MyFont";
    background-color: #03432d77;
    border: 2px solid #34febc;
    border-radius: 20px;
    padding: 40px 60px 60px 60px;
    width: 20%;
    margin-bottom: 100px;
    margin-left: 35%;
}
.form h2{
    color: #34febc;
}
input{
    margin-top: 20px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.562);
    padding: 1rem 1.5rem;
    padding-left: 10%;
    border-radius: 100px;
    width: 77%;
    transition: background .5s;
}
input:focus {
    border-color: #555;
    outline: none;
  }
#submit{
    margin-top: 40px;
    letter-spacing: 1.5px;
    font-family: "MyFont";
    background-color: #03432d77;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #34febc ;
    transition: all 250ms;
    color: #34febc;
    transition: all 250ms;
}
#submit:hover{
    opacity: 70%;
}
.footer2{
    margin-top: 200px;
    display: flex;
}
.sous-menu{
    margin-left: 40px;
}
#back{
    float: left;
    margin-top: 20px;
    color: #ffff;
    margin-left: 37%;
   font-family: "MyFont";
   transition: all 250ms;
}
#back:hover{
    opacity: 70%;
}


  
    
    
