
html{
  background-color: #030d12;
}
.all{
    background-image: url("../../background_planete4.png");
    background-size: 110%;
    background-color: #030d12;
    background-position: center top -225px;
    background-repeat: no-repeat;
}
.material-symbols-outlined{
  display: none;
}
#toogle-nav{
  display: none;
}
#link{
  padding: 0px;
}
.navbar{
    position: fixed;
    width: 100%;
    text-align: center;
    display: flex;
    backdrop-filter: blur(10px);
    max-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.401);
}
.navbar a{
    color: #ffff;
    padding: 17px 60px 60px 60px;
    font-family: "MyFont";
    transition: all 250ms;
}
#navbarFirst{
  margin-left: 200px;
}

.navbar a:hover{
    color:#ffde00;
    letter-spacing: 2px;
    text-decoration: underline;
}
.containeur{
    display: flex;
    justify-content: center;
    
}
.log-button{
  width: 400px;
}


.element1{
    margin-top: 300px;
    height: 300px;
    width: 300px;
margin-left: 100px;
    
}
.element1 h2{
    color: #ffde00;
    font-weight: 100;
    box-shadow:  0 0 15px rgb(#ffde00);
    font-family: "MyFont";
    letter-spacing: 5px;
    max-width: 100px;
    text-shadow: 0 0 2px rgba(255, 222, 0, 0.5), 0 0 4px rgba(255, 222, 0, 0.5), 0 0 6px rgba(255, 222, 0, 0.5), 0 0 8px rgba(255, 222, 0, 0.5), 0 0 10px rgba(255, 222, 0, 0.5); /* Ombres de texte pour créer l'effet de néon */
}

.element1 h2 mark{
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 5px;
    color: #34febc ;
    background-color: transparent;
    text-shadow: 0 0 2px rgba(52, 254, 188, 0.5), 0 0 4px rgba(52, 254, 188, 0.5), 0 0 6px rgba(52, 254, 188, 0.5), 0 0 8px rgba(52, 254, 188, 0.5), 0 0 10px rgba(52, 254, 188, 0.5); /* Ombres de texte pour créer l'effet de néon */
}
.element1 p{
    color: #ffff;
    font-family: "MyFont2";
    font-weight: 100;
    margin-top: 40px;
    letter-spacing: 1.25px;
    font-size: 14px;
    margin-left: 20px;
}

.element2{
    margin-top: 209px;
    margin-left: 100px;
    background-image: url("../../kanguru_solider_space_armor.png");
    background-size: 80%;
    background-repeat: no-repeat;
    height: 500px;
    width: 650px;
    
}
.element1 button{
    margin-left: 20px;
    margin-top: 40px;
}
.black{
    background-color: black;
    height: 100px;
}
#steam {
    margin-left: 20px;
    letter-spacing: 1.25px;
    font-family: "MyFont";
    background-color: #03432d77;
    font-size: 12px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #34febc ;
    transition: all 250ms;
    color: #34febc;
    animation: zoom 3s infinite;
        animation-fill-mode: unset;
  }
  #steam:hover{
    opacity: 70%;
  }

  #signup {
    margin-left: 20px;
    letter-spacing: 1.25px;
    font-family: "MyFont";
    background-color: #61540195;
    font-size: 12px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #ffde00 ;
    transition: all 250ms;
    color: #ffde00;
    animation: zoom 3s infinite;
        animation-fill-mode: unset;
  }
  #signup2 {
    margin-left: 20px;
    letter-spacing: 1.5px;
    font-family: "MyFont";
    background-color: #61540195;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #ffde00 ;
    transition: all 250ms;
    color: #ffde00;
    animation: zoom 3s infinite;
        animation-fill-mode: unset;
  }
  #signup2:hover{
    opacity: 70%;
  }
  .navbar-info{
    display: grid;
    justify-content: center;
  }
  #link{
    padding-bottom: 10px;
  }
  .infos-containeur{
    display: flex;
    margin-left: 40%;
  }
  #avatar{
    margin-top: 20px;
  }
  
  #logout-info{
    background-color: transparent;
    border: none;
    font-family: "MyFont";
    color: #ffde00;
    font-size: 10px;
    text-decoration: underline;
    width: 100px;
  }
  #nickname{
    margin-top: 10px;
    color: #34febc;
    font-family: "MyFont";
    transition: all 250ms;
    background-color: transparent;
    cursor: unset;
    border: none;
  }
  #nickname:hover{
    letter-spacing: 2px;
  }


  #login {
    margin-left: 140px;
    letter-spacing: 1.5px;
    font-family: "MyFont";
    background-color: #03432d77;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #34febc ;
    transition: all 250ms;
    color: #34febc;
    animation: zoom 3s infinite;
        animation-fill-mode: unset;
  }
  #login:hover{
    opacity: 70%;
  }

  #signup:hover{
    opacity: 70%;
  }

  .sous-menu p{
    color: #ffff;
    margin: 0px 0px 0px 285px;
    font-size: 10px;
    font-family: "MyFont";
  }
  #first-menu{
    margin-top: 20px;
  }
  #logout{
    color: #ffde00;
    margin-top: 20px;
  }
  .footer{
    display: flex;
  }
  #steam2 {
    margin-top: 20px;
    margin-left: 300px;
    letter-spacing: 1.25px;
    font-family: "MyFont";
    background-color: #03432d77;
    font-size: 8px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #34febc ;
    transition: all 250ms;
    color: #34febc;
    animation: zoom 3s infinite;
        animation-fill-mode: unset;
  }
  #steam2:hover{
    opacity: 70%;
  }
  #followus{
    color: #ffff;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 300px;
    font-family: "MyFont";
  }
  #reseau{
    background-image: url("../../logo-reseau-footer.png");
    background-size: 50px;
    height: 30px;
    width: 200px;
    background-size: cover;
    margin-top: 0px;
    float: right;
  }
  #footer-text{
    color: #ffff;
    font-size: 8px;
    letter-spacing: 1.25px;
    padding-top: 20px;
    max-width: 200px;
    margin-top: 40px;
    margin-left: 150px;
    font-family: "MyFont";
    margin-bottom: 20px;
  }
  #footer-right{
    max-width: 100px;
  }

  /* Responsive */
  @media screen and (max-width: 1300px) {
    .element2{
      background-size: 415px;
  }
  .all{
    background-size: cover;
  }
}

@media screen and (max-width: 1110px) {
  #steam{
    margin-left: 0px;
    font-size: 10px;
  } 
  #signup{
    margin-left: 10px;
    font-size: 10px;
  }
  .sous-menu p{

    margin: 0px 0px 0px 100px;

  }
  #login{
    margin-left: 60px;
  }
  #navbarFirst{
    margin-left: 100px;
  }

}

@media screen and (max-width: 1000px) {
.element1{
  margin-top: 100px;
}

.footer{
  margin-top: 60px;
}
.element2{
  background-size: 475px;
}
#login{
  margin-left: 80px;
}
.navbar a {
  padding-right: 15px;
}


}

@media screen and (max-width: 950px) {
  #steam2{
    margin-left: 200px;
  }
  #login{
    margin-left: 40px;
  }
  .element2{
    margin-left: 0px;
  }
}

@media screen and (max-width: 850px) {
  #login{
    margin-left: 20px;
  }

  .element2{
    background-size: 475px;
  margin-top: 60px;
  }
  .containeur{
    display: inline-block;   
}
.element1{
  margin-top: 300px;
}
}

@media screen and (max-width: 830px) {
 #steam2{
  margin-left: 100px;
 }
 .navbar a {
  display: none;
 }
 .navbar button{
  display: none;
 }
 .material-symbols-outlined{
  display: inline;
  float: right;
  font-size: 40px;
  color: #34febc;
  cursor: pointer;
  margin-right: 20px;
 }
 #toogle-nav{
  display: inline-block;
  color: #ffff;
  background-color: #030d12b3;
  backdrop-filter: blur(10px);
  width: 900px;
  height: 400px;
  margin-top: 30px;
  margin-right: 60px;
 }
 #toggle-menu{
  width: 100%;
 }
 #toogle-nav p{
  font-family: "MyFont";
  padding-top: 40px;
  transition: all 250ms;
 }
 #toogle-nav p:hover{
  color:#ffde00;
    letter-spacing: 2px;
    text-decoration: underline;
 }
 #toogle-login{
  margin-left: 27%;
  margin-top: 20px;
  font-family: "MyFont";
    background-color: #03432d77;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #34febc ;
    transition: all 250ms;
    color: #34febc;
    animation: zoom 3s infinite;
    animation-fill-mode: unset;
    width: 100px;
 }
 #toogle-login:hover{
  opacity: 70%;
 }
 #toogle-signup{
  margin-top: 20px;
  margin-left: 27%;
  font-family: "MyFont";
    background-color: #61540195;
    font-size: 14px;
    padding: 15px 10px 15px 10px;
    border-radius: 20px;
    border: 2px solid #ffde00 ;
    transition: all 250ms;
    color: #ffde00;
    animation: zoom 3s infinite;
        animation-fill-mode: unset;
  width: 100px;
 }
 #toogle-signup:hover{
  opacity: 70%;
 }

 @media screen and (max-width: 710px) {
  .footer{
    text-align: center;
    margin-top: 20px;
    display:list-item;
  }
  #followus{
    margin-left: 0px;
  }
  .sous-menu{
    display: flex;
    margin-left: 20%;
  }
  .sous-menu p {
    margin-left: 40px;
  }
  .all{
    background-size: 2430px;
  }
  #logout{
    margin-top: 0px;
  }
  #footer-text{
    max-width: 100%;
    margin-top: 0px;
    margin-left: 0px;

  }
  #reseau{
    margin-left: 34%;
    height: 30px;
    width: 250px;
    float: none;
  }
  #steam2{
    margin-left: 0px;
  }
  #first-menu{
  margin-top: 0px;
  }
 }
 @media screen and (max-width: 680px) {
  .element2 {
    margin-left: 10%;
    width: 450px;
    height: 500px;
    }

 }

 @media screen and (max-width: 600px) {
  #reseau{
    margin-right: 0px;
    height: 20px;
    width: 150px;
  }
 }

 @media screen and (max-width: 540px) {
  #reseau{
    margin-right: 0px;
    height: 20px;
    width: 150px;

  }
 
  #footer-text{ 
    max-width: 200px;
    margin-left: 30%;
  }
  .element2{
    margin-left: 0px;
  }
  .element1{
    margin-left: 60px;
  }
  
 }
 @media screen and (max-width: 500px) {
  .sous-menu{
    margin-left: 7%;
  }
  .element2{
    background-size: 90%;
    background-position: center bottom 0px;
    margin-top: 35px;

  }
  
 }

 @media screen and (max-width: 440px) {
  #reseau{
    margin-left: 140px;
  }
  #first-menu{
    margin-left: 20px;
  }
  
  #footer-text{

    margin-left: 100px;
  }
 }


 @media screen and (max-width: 400px) {
  #reseau{
    margin-left: 220px;
  }
  #first-menu{
    margin-left: 150px;
  }
  
  #footer-text{
    margin-left: 80px;
  }
  .element2{
    background-size: 80%;
    background-position: center left -30px;
    margin-top: 110px;

  }
  .element1{
    margin-left: 20px;
  }
  .footer{
    margin-top: 0px;
  }
  .sous-menu{
    margin-left: 0px;
  }
  #first-menu{
    margin-left: 20px;
  }
  #reseau{
    margin-left: 100px;
  }
  .containeur{
    background-image: url("../../background_planete4.png");
    background-size: cover;
    background-color: #030d12;
    background-position: center top -70px;
    background-repeat: no-repeat;
  }
 }

}
